.services {
  display: flex;
  flex-direction: column;
  height: 155vh;
  width: 100%;
  gap: 2rem;
  padding: 2rem;
}

.serv3d {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  gap: 2rem;
  padding: 2rem;
}
.serv2d {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  gap: 5rem;
  padding: 2rem;
}
.furnserv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  gap: 2rem;
  padding: 2rem;
}

@media screen max-width(600px) {
  .serv3d{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .serv2d{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
  .furnserv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
}